<div class="mb-4">
  <%= link_to "Add Note", new_book_note_path, class:"btn btn-outline-primary ml-auto" %>
</div>

<div class="row">
  <% @notes.each do |note| %>
  <div class="card col-md-3 m-1">
    <div class="card-body">
      <% note.categories.each do |category| %>
        <span><%= category.name %> </span>
      <% end %>
      <h5 class="card-title"><%= link_to note.title, book_note_path(note.book, note) %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text"><%= note.page %></p>
      <%= link_to "Edit", edit_book_note_path(note.book, note), class: "btn btn-success" %>
      <%= link_to "Delete", book_note_path(note.book, note), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
  <% end %>
</div>
