<h4><%= @note.book.title %><span class="ml-2 text-secondary"> p.<%= @note.page %></span></h4>

<div class="row border-bottom mb-4">
  <h2 class="col-sm-8"><%= @note.title %></h2>
  <div class="col-sm-4 text-right note-btns">
    <%= link_to "Edit", edit_book_note_path(@note.book, @note), class: "btn btn-success" %>
    <%= link_to "Delete", book_note_path(@note.book, @note), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</div>

<div class="note-body pt-4">
  <%#= simple_format(@note.body) %>
  <%#= simple_format fix_text(@note.body.split(/\n\n/)) %>
  <%#= fix_text(@note.body.split("\n")) %>

  <%= simple_format fix_text(@note.body.split("\n")) %>
</div>
