<!DOCTYPE html>
<html>
  <head>
    <title>ThesisManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if notice %>
        <div class="alert alert-success">
          <ul class="mb-0">
              <li><%= notice %></li>
          </ul>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success">
          <ul class="mb-0">
              <li><%= alert %></li>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
